body {

  background: #f5f7fa;

}

.hero-section {

  padding: 60px 20px;

  border-radius: 25px;

  background:
    linear-gradient(
      to right,
      #0f172a,
      #1e293b
    );

  margin-bottom: 40px;

}

.title {

  font-size: 60px;

  font-weight: bold;

}

.hero-text {

  text-align: center;

  color: #e2e8f0;

  margin-top: 15px;

  font-size: 22px;

}

.card {

  border: none;

  border-radius: 20px;

  overflow: hidden;

  transition: 0.4s;

  background:
    rgba(255,255,255,0.1);

  backdrop-filter: blur(10px);

}

.card:hover {

  transform: translateY(-10px);

  box-shadow:
    0px 10px 30px rgba(0,0,0,0.2);

}

.card-img-top {

  object-fit: cover;

  border-radius: 15px;

  transition: 0.3s;

}

.card:hover .card-img-top {

  transform: scale(1.05);

}

.btn {

  border-radius: 12px;

  transition: 0.3s;

}

.btn:hover {

  transform: scale(1.05);

}

.form-control,
.form-select {

  border-radius: 12px;

  padding: 12px;

}

.details-card {

  border-radius: 20px;

}